* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.footer-logo,
.switch-button,
.social,
button,
nav li,
.comment__slider,
.navigation__logo {
  cursor: pointer;
}

nav li:hover {
  color: #ff553e;
}

.container {
  z-index: 1;
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger {
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.burger div {
  width: 30px;
  height: 4px;
  background: #ff553e;
  border-radius: 4px;
}

.vector8 {
  display: none;
}

.vector6 {
  display: none;
}

.chart {
  display: none;
}

.header {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 40px;
  background-color: #fff8f2;
  height: 1280px;
}

.mobile1 {
  position: absolute;
  top: 59px;
  left: -525px;
}

.mobile2 {
  position: absolute;
  top: 47px;
  left: 778px;
}

.vector1 {
  position: absolute;
  left: 617px;
  top: 376px;
}
.vector2 {
  position: absolute;
  left: 76px;
  top: 467px;
}
.vector3 {
  position: absolute;
  top: 100px;
  right: 0;
}
.vector4 {
  position: absolute;
  top: -76px;
  left: 942px;
}
.vector5 {
  position: absolute;
  left: -311px;
  top: -121px;
}

.clock {
  position: absolute;
  top: -92px;
  left: -159px;
  z-index: 1;
}

.clipboard {
  position: absolute;
  top: 248px;
  left: 689px;
  z-index: 1;
}

.navigation {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  background: url("../assets/img/Logo.png") no-repeat;
  height: 40px;
  width: 179px;
}

.navigation__menu {
  width: 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__menu nav {
  width: 55%;
}

.navigation__menu ul {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

.authorisation {
  display: flex;
}

.authorisation button {
  width: 133px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 34px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.login {
  color: #ff553e;
  background: none;
}

.signup {
  background: #ff553e;
  color: #ffff;
}

.header__content-wrapper {
  display: flex;
  justify-content: center;
}

.header__content {
  position: relative;
  margin-top: 220px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content h1 {
  color: #1c0e0d;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
}

.header__content span {
  padding: 5px;
  background: url("./img/Shape.png") 0 60px no-repeat;
}

.header__content p {
  margin-top: 1.5rem;
  font-family: "Inter";
  width: 75.375%;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.header__content button {
  background: #ff553e;
  border-radius: 40px;
  margin-top: 4.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #ffff;
  border: none;
  padding: 24px 40px;
  font-size: 18px;
  line-height: 28px;
}

.facts {
  box-sizing: border-box;
  background: linear-gradient(to right, #ffff 40%, transparent 60%) 0
      center/100%,
    url("../assets/img/Vector.png") center 0 no-repeat;
  width: 100%;
  height: 270px;
  margin-top: -355px;
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: center;
}

.fact__list {
  padding-right: 250px;
  gap: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.facts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-num {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #18063c;
}

.litlle-num {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #8c8c8c;
  text-align: center;
}

.rec {
  position: absolute;
  top: 80px;
  left: 85px;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1171px;
}

.features-block {
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -70px;
  padding-bottom: 77px;
  box-sizing: border-box;
  padding-top: 195px;
  background: #ffffff;
}

.features-block header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rocket {
  position: absolute;
  left: 808px;
  top: -23px;
}

.features-block__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-block h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
  text-align: center;
  text-transform: capitalize;
}

.features-block h2 span {
  background: url("../assets/img/Shape.png") no-repeat;
  background-position: 9px 30px;
}

.features-block__content {
  margin-top: 30px;
  max-width: 659px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
  text-align: center;
}

.card-block {
  max-width: 1771px;
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.card-item {
  max-width: 369px;
  min-width: 279px;
  background-color: #18063c;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06);
  padding: 28px;
}

.card-item__text h4 {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin-top: 24px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
}

.img-wrapper {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06);
  border-radius: 24px;
}

.card-item__text p {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.8;
  width: 90%;
}

.item1 {
  background: #70d0dc;
}
.item2 {
  background: #7562e0;
}
.item3 {
  background: #fa865f;
}

.analytics {
  padding-top: 70px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.analytics__container {
  width: 100%;
  display: flex;
  max-width: 1920px;
  flex-direction: row;
  justify-content: start;
  gap: 34px;
}

.big-picture {
  max-width: 61%;
  object-fit: contain;
}

.no-back-mobile {
  display: none;
  max-width: 61%;
  object-fit: contain;
}

.analytics__content {
  max-width: 568px;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.analytics__content header h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  color: #18063c;
}

.analytics__content header p {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
}

.analytics__content header span {
  padding-bottom: 5px;
  background: url("../assets/img/Shape.png") 260px 35px no-repeat;
}

.analytics__list {
  max-width: 477px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.analytics__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item__content .content__haeder {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #404040;
}

.item__content .content__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #404040;
  opacity: 0.8;
  max-width: 300px;
}

.tracker {
  position: relative;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 145px;
  background-color: #f8fefe;
  display: flex;
  justify-content: center;
}

.darts {
  position: absolute;
  right: 0;
  top: -40px;
}

.img-list {
  position: absolute;
  top: 376px;
  left: 0;
}

.tracker__container {
  max-width: 1419px;
  margin-right: 127px;
  margin-left: 222px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
}

.blue-arrow {
  position: absolute;
  top: 50px;
  left: 492px;
}

.pink-arrow {
  position: absolute;
  top: 291px;
  left: -62px;
}

.tracker__info h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.tracker__text {
  margin-top: 30px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.info__item-content p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.info__list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 73px;
  position: relative;
}

.tracker__info h2 span {
  background: url("./img/Shape.png") 5px 30px no-repeat;
}

.info__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
}

.middle-wrapper {
  display: flex;
  justify-content: end;
}

.info__item.middle {
  max-width: 446px;
  gap: 33px;
}

.info__item.frontier {
  max-width: 464px;
}

.info__list {
  display: flex;
  flex-direction: column;
}

.info__item-content {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.info__item h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
  color: #404040;
}

.info__item p {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.tracker__image-block {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  height: auto;
}

.image-block__left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 27px;
}

.image-block__left-side :nth-child(1) {
  width: 267.62px;
  height: 270.96px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.image-block__left-side :nth-child(2) {
  width: 230.82px;
  height: 321.14px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.image-block__right-side img {
  width: 388.05px;
  height: 444.91px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.price-list {
  width: 100%;
  padding: 140px 0 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hand {
  position: absolute;
  left: 0;
  top: 614px;
}

.price-list h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.price-list h2 span {
  padding-right: 20px;
  background: url("./img/Shape.png") 140px 33px no-repeat;
}

.price__text {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.switch-block {
  margin-top: 48px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #404040;
}

.switch-block span {
  width: 97px;
  text-align: center;
}

.switch-button {
  width: 84px;
  height: 40px;
  padding: 6px;
  background: rgba(255, 85, 62, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.switch-button__item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ff553e;
}

.price__info {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.price__info-item {
  position: relative;
  width: 470px;
  height: 608px;
  display: flex;
  flex-direction: column;
  border-radius: 110px;
  align-items: center;
}

.sand-watch {
  position: absolute;
  display: flex;
  top: -100px;
  left: 370px;
  z-index: -1;
}

.line {
  position: absolute;
  display: flex;
  top: 70;
  left: 485px;
  z-index: -2;
}
.price__info-item.free {
  border: 1px solid #ff553e;
}

.price__info-item.premium {
  background: #ff553e;
}

.price__info-item h4 {
  margin-top: 64px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #404040;
}

.item__text {
  margin-top: 56px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
}

.price {
  margin-top: 60px;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.price__info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.price__info .free span {
  color: #797979;
}

.price__info .premium span {
  color: #ffddd8;
}

.price :nth-child(1) {
  margin-top: 4px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.price :nth-child(2) {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.price__info button {
  margin-top: 64px;
  border: none;
  width: 240px;
  height: 76px;
  border-radius: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.price__info-item.free button {
  background: #ff553e;
  color: #ffffff;
}

.price__info-item.premium button {
  background: #ffffff;
  color: #ff553e;
}

.price__info-item.free p {
  color: #ff553e;
}

.price__info-item.premium h4 {
  color: #ffffff;
}

.price__info-item.premium {
  color: #ffffff;
}

.partners {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fefe;
  padding: 120px 76px 80px 76px;
}

.partners__container {
  display: flex;
  align-items: flex-start;
  width: 1920px;
}

.partners__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.partners__list {
  display: flex;
  flex-direction: row;
  gap: 56px;
  align-items: center;
}

.list__img {
  display: flex;
  flex-direction: column;
}

.list__img div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  align-items: end;
  gap: 54px;
}

.right-side {
  align-items: start;
  gap: 59px;
}

.list__img.left-side :nth-child(2n + 1) img {
  width: 48px;
  height: 48px;
}

.list__img.left-side :nth-child(2) img {
  width: 87px;
  height: 87px;
}

.orange {
  background: rgba(243, 83, 37, 0.1);
  border-radius: 40px;
  width: 240px;
  height: 152px;
}

.rec-figure {
  background: rgba(255, 186, 0, 0.1);
  border-radius: 54px;
  width: 358px;
  height: 239px;
}

.green {
  width: 315px;
  height: 204px;
  background: rgba(51, 214, 100, 0.1);
  border-radius: 48px;
}

.blue {
  background: rgba(66, 133, 244, 0.1);
  border-radius: 54px;
  width: 385px;
  height: 243px;
}

.light-gray {
  background: rgba(28, 96, 191, 0.1);
  border-radius: 48px;
  width: 240px;
  height: 152px;
}

.partners__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 525px;
}

.partners__info h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.partners__info h2 span {
  background: url("./img/Shape.png") 60px 30px no-repeat;
}

.partners__info p {
  max-width: 471px;
  margin-top: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.partners__info button {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ff553e;
  width: 184px;
  height: 76px;
  border: 1px solid #ff553e;
  border-radius: 40px;
  background: #ffff;
  margin-top: 48px;
}

.comment {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 173px 50px 140px 50px;
  align-items: center;
}

.comment header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.comment header h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.comment header p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
}

.comment header span {
  padding: 5px;
  background: url("./img/Shape.png") 0 40px no-repeat;
}

.comment__block {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.chat {
  position: absolute;
  bottom: -24px;
  left: -185px;
}

.avatar {
  width: 298px;
  height: 379px;
  background: #fff8f2;
  border-radius: 370px;
}

.comment__info {
  display: flex;
  flex-direction: column;
}

.comment__info p {
  max-width: 652px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #666666;
}

.comment__author {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment__author h4 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #38363c;
}

.comment__author p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #747277;
}

.comment__slider {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.comment__slider .active {
  background: #ff553e;
  border-radius: 7px;
  width: 36px;
}

.comment__slider div {
  width: 12px;
  height: 12px;
  background: rgba(255, 85, 62, 0.2);
  border-radius: 50%;
}

.like {
  position: absolute;
  top: -321px;
  left: -411px;
  z-index: 2;
}

.comment-line {
  position: absolute;
  top: -156px;
  left: -251px;
}

.emoji {
  position: absolute;
  bottom: 107px;
  right: 140px;
  z-index: 2;
}

.comment-rec {
  position: absolute;
  bottom: 58px;
  right: 103px;
}

.store {
  min-height: 676px;
  width: 100%;
  position: relative;
  background-color: #fff8f2;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store__container {
  max-width: 1046px;
  margin-right: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.store__content {
  display: flex;
  flex-direction: column;
  max-width: 51%;
}

.store__content h2 {
  z-index: 1;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-size: 48px;
  line-height: 70px;
  font-weight: 600;
  color: #18063c;
}

.store__content span {
  padding: 8px;
  background: url("./img/Shape.png") 105px 48px no-repeat;
}

.store__content p {
  margin-top: 24px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #666563;
}

.store__button {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.store__button button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  padding: 24px 40px;
}

.store__button .apple {
  border: none;
  background: #ff553e;
}

.store__button .android {
  background: none;
  border: 1px solid #ff553e;
}

.left-hand {
  position: absolute;
  left: 0;
  top: 11px;
}

.right-hand {
  position: absolute;
  right: 0;
  top: 290px;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 129px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 90%;
}

.footer__content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.footer__content ul {
  min-width: 70%;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  justify-content: space-between;
  gap: 15px;
  color: #1c0e0d;
}

.footer__nav nav {
  width: 55.5%;
}

.footer__nav {
  max-width: 797px;
  width: 65%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 134px;
  height: 30px;
}

footer hr {
  margin-top: 63px;
  opacity: 0.5;
}

.privacy_and_condition {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #404040;
}

.red-twitter {
  display: none;
}

.condition {
  width: 32.5%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1630px) {
  .blue-arrow,
  .pink-arrow,
  .mobile,
  .left-hand {
    display: none;
  }

  .tracker__container {
    align-items: flex-start;
  }

  .tracker__image-block {
    flex-direction: column;
  }
  .image-block__left-side {
    flex-direction: row;
  }

  .store__container {
    width: 90%;
    justify-content: flex-start;
    margin-right: 0;
  }
  .store__content {
    min-width: 529px;
    flex-wrap: wrap;
  }

  .info__item.middle {
    gap: 48px;
  }

  .partners__info h2 span {
    padding: 5px;
    background: url("./img/Shape.png") 100px 40px no-repeat;
  }

  .analytics__content header span {
    background-position: 35px 35px;
  }
}

@media screen and (max-width: 1279px) {
  .hand,
  .sand-watch,
  .line,
  .mobile1,
  .vector4,
  .rec {
    display: none;
  }
  .clock {
    object-fit: cover;
    top: -100px;
    left: 700px;
  }

  .header__content {
    align-items: flex-start;
  }

  .container {
    width: 90%;
    align-items: flex-start;
  }

  .header__content h1,
  .header__content p {
    text-align: start;
  }

  .facts {
    background: #fff;
  }

  .fact__list {
    padding: 0;
  }

  .features-block {
    overflow: visible;
    align-items: center;
  }

  .rocket {
    top: -200px;
    left: -200px;
  }
  .card-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .analytics__container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .big-picture {
    display: none;
  }

  .no-back-mobile {
    display: block;
  }

  .analytics__content {
    padding: 0;
    max-width: 60%;
  }

  .tracker {
    justify-content: center;
    align-items: center;
  }

  .tracker__container {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    gap: 150px;
  }

  .tracker__image-block {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tracker__info {
    justify-content: center;
    align-items: center;
  }

  .tracker__text {
    max-width: 60%;
  }

  .image-block__left-side {
    flex-direction: row;
    align-items: center;
  }

  .pink-arrow {
    display: block;
    left: 110px;
  }

  .blue-arrow {
    display: block;
  }

  .img-list {
    display: none;
  }

  .price__info {
    flex-direction: column;
    min-width: 60%;
  }

  .price__info-item {
    border-radius: 30px;
    width: 100%;
    padding: 48px;
    justify-content: space-between;
  }

  .item-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .price :nth-child(1) {
    margin-top: 0;
  }

  .item-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }

  .item__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    gap: 16px;
  }

  .text-premium {
    color: #ffddd8;
  }

  .price__info button {
    margin-top: 0;
  }

  .partners {
    display: flex;
    justify-content: center;
  }

  .partners__container {
    justify-content: center;
  }

  .partners__wrapper {
    max-width: 90%;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .partners__info {
    max-width: 100%;
    align-items: center;
  }

  .partners__info h2 {
    text-align: center;
  }

  .partners__info p {
    text-align: center;
  }

  .partners__list {
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .list__img {
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .list__img.left-side {
    justify-content: center;
  }

  .list__img.left-side :nth-child(2n + 1) img {
    width: 64px;
    height: 64px;
  }
  .list__img.left-side :nth-child(2) img {
    width: 64px;
    height: 64px;
  }

  .rec-figure {
    width: 385px;
    height: 243px;
  }

  div.light-gray {
    display: none;
  }

  .green,
  .orange,
  .blue {
    max-width: 300px;
    max-height: 243px;
  }

  .comment {
    width: 100%;
    overflow: hidden;
    padding: 173px 0 140px;
    align-items: center;
    justify-content: center;
  }

  .comment__wrapper {
    max-width: 90%;
    display: flex;
    flex-direction: column;
  }

  .comment__block {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    height: 298px;
    width: 379px;
    border-radius: 40px;
  }

  .like {
    width: 100px;
    height: 100px;
    top: -31px;
    left: 376px;
  }

  .chat {
    width: 120px;
    height: 120px;
    top: 200px;
    left: 620px;
  }

  .comment-line {
    width: 100px;
    height: 100px;
    top: 120px;
    left: 480px;
  }

  .right-hand {
    right: 0;
    top: 230px;
    width: 280px;
    height: 110px;
  }

  .store__container {
    flex-direction: column;
  }

  .store__button {
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .store {
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 49px;
    min-height: 431px;
  }
}

@media screen and (max-width: 875px) {
  .container {
    max-width: 90%;
  }

  .burger {
    display: flex;
  }

  .navigation__menu {
    display: none;
  }

  .header {
    overflow: hidden;
    max-height: 589px;
  }

  .mobile2 {
    width: 240px;
    height: 409px;
    top: 60px;
    left: 591px;
  }

  .header__content {
    margin-top: 100px;
    align-items: flex-start;
    max-width: 560px;
  }
  .header__content h1 {
    text-align: start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    font-size: 32px;
    color: #1c0e0d;
  }

  .header__content p {
    margin-top: 12px;
    min-width: 307px;
    text-align: start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }

  .header__content span {
    background-size: contain;
    background-position: 0 17px;
  }

  .header__content button {
    margin-top: 40px;
  }

  .clock {
    top: -30px;
    left: 525px;
    width: 90px;
    height: 90px;
  }

  .clipboard {
    display: block;
    top: 160px;
    width: 130px;
    left: 400px;
  }

  .vector3 {
    right: -8px;
    top: 110px;
    width: 46px;
    height: 74px;
    object-fit: scale-down;
  }

  .vector1 {
    top: 277px;
    left: 373px;
    object-fit: cover;
    width: 66.5px;
    height: 70px;
  }

  .vector6 {
    position: absolute;
    top: 504px;
    left: -0;
    object-fit: cover;
  }

  .facts {
    margin-top: 0;
    padding-top: 48px;
    height: auto;
  }

  .fact__list {
    width: 80%;
    gap: 48px;
  }

  .facts__item {
    height: 110px;
    justify-content: space-between;
  }

  .big-num {
    font-family: "Poppins";
    font-style: normal;
  }

  .fact__list hr {
    display: none;
  }

  .features__container {
    width: 90%;
  }

  .features-block h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #18063c;
  }

  .features-block__header h2 span {
    background: url("./img/light-shape.png") no-repeat;
  }

  .analytics__content {
    padding-left: 5px;
    background: url("./img/light-shape.png") 0 15px no-repeat;
  }

  .analytics__content header span {
    background: none;
  }

  .features-block__content {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
  }

  .features-block h2 span {
    padding: 5px;
    background-position: 0 17px;
    background-size: contain;
  }

  .features-block__content p {
    font-size: 16px;
    line-height: 36px;
  }

  .features-block {
    overflow: visible;
    margin-top: 25px;
    padding: 180px 0 80px 0;
  }

  .card-block {
    margin-top: 28px;
    gap: 20px;
  }

  .card-item {
    max-width: 343px;
    border-radius: 30px;
  }

  .img-wrapper img {
    width: 33px;
    height: 33px;
  }

  .img-wrapper {
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 15px;
  }

  .card-item__text {
    font-size: 20px;
    line-height: 100%;
  }

  .card-item__text p {
    font-size: 16px;
    line-height: 26px;
  }

  .rocket {
    object-fit: cover;
    top: -170px;
    left: -130px;
  }

  .vector2,
  .vector5,
  .vector4,
  .mobile1,
  .vector5,
  .rec,
  .darts,
  .img-list,
  .blue-arrow,
  .pink-arrow,
  .tracker__text,
  .hand,
  .sand-watch,
  .line,
  .emoji,
  .comment-rec,
  .left-hand,
  .mobile {
    display: none;
  }

  .analytics {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    gap: 49px;
    padding-bottom: 60px;
  }

  .analytics__content {
    width: 90%;
    max-width: 600px;
    padding-top: 0;
  }

  .analytics__content header h3 {
    font-size: 24px;
    line-height: 150%;
  }

  .analytics__content header p {
    font-size: 16px;
    line-height: 180%;
  }

  .analytics__list {
    gap: 24px;
    margin-top: 36px;
  }

  .analytics__item {
    gap: 18px;
  }

  .item__content .content__haeder {
    font-size: 18px;
    line-height: 120%;
  }

  .item__content .content__text {
    font-size: 14px;
    line-height: 180%;
  }

  .tracker {
    padding-bottom: 48px;
    padding-top: 48px;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  .tracker__container {
    gap: 48px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .tracker__text {
    max-width: 100%;
    display: block;
    font-size: 14px;
    line-height: 180%;
  }

  .tracker__info h2 {
    font-size: 24px;
    line-height: 150%;
  }

  .info__item h4 {
    font-size: 18px;
    line-height: 120%;
  }

  .info__item p {
    font-size: 14px;
    line-height: 180%;
  }

  .info__item img {
    width: 56px;
    height: 56px;
  }

  .tracker__info {
    width: 90%;
  }

  .tracker__info h2 span {
    padding-right: 5px;
    background: url(./img/min-shape-light.png) 5px 14px no-repeat;
  }

  .info__list {
    gap: 30px;
    margin-top: 36px;
  }

  .tracker__image-block {
    flex-direction: row;
  }

  .tracker__image-block img {
    max-width: 268px;
    object-fit: cover;
  }

  .image-block__right-side img {
    height: 306px;
  }

  .image-block__left-side :nth-child(2) {
    display: none;
  }

  .price-list {
    padding: 80px 0;
  }

  .price-list h2 {
    font-size: 24px;
    line-height: 150%;
  }

  .price-list h2 span {
    background: url(./img/light-shape.png) 30px 10px no-repeat;
    padding: 0;
  }

  .price__text {
    font-size: 16px;
    line-height: 36px;
  }

  .switch-block {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
  }

  .switch-button {
    width: 55px;
    height: 26.19px;
  }

  .switch-button__item {
    width: 18.33px;
    height: 18.33px;
  }

  .price__info {
    margin-top: 41px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 80%;
  }

  .price__info-item {
    width: 327px;
    height: 288px;
    border-radius: 30px;
    padding: 36px 26px;
  }

  .item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .item-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }

  .price__info-item h4 {
    margin: 0;
    font-size: 20px;
    line-height: 100%;
  }

  .price {
    margin-top: 0;
    align-items: center;
    font-size: 28px;
    max-width: 130px;
    line-height: 100%;
  }

  .price :nth-child(1) {
    margin-top: 0;
    margin-right: 3px;
  }

  .price :nth-child(2) {
    margin-left: 4px;
  }

  .item__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    gap: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }

  .text-premium {
    color: #ffddd8;
  }

  .price__info button {
    margin-top: 30px;
  }

  .partners {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .partners__container {
    width: 80%;
  }

  .partners__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }

  .partners__info {
    align-items: flex-start;
  }

  .partners__info h2 {
    text-transform: capitalize;
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  .partners__info p {
    max-width: none;
    text-align: start;
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
  }

  .partners__info button {
    margin-top: 28px;
  }

  .partners__list {
    align-items: flex-start;
    gap: 16px;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }

  .partners__info h2 span {
    background: url(./img/min-light-shape.png) 62px 20px no-repeat;
  }

  .list__img {
    gap: 16px;
    flex-direction: row-reverse;
  }

  .list__img.left-side :nth-child(2n + 1) img {
    width: 64px;
    height: 64px;
  }
  .list__img.left-side :nth-child(2) img {
    width: 64px;
    height: 64px;
  }

  .rec-figure {
    width: 250px;
    height: 160px;
    border-radius: 10px;
    background: rgba(65, 165, 238, 0.1);
  }

  .blue img {
    width: 73px;
  }

  .green,
  .orange,
  .blue {
    width: 250px;
    height: 160px;
    border-radius: 10px;
  }

  .comment {
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }

  .comment__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .comment__block {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .comment header h2 {
    font-size: 24px;
    text-transform: capitalize;
    line-height: 140%;
  }

  .comment header span {
    background: url(./img/light-shape.png) 0 15px no-repeat;
  }

  .comment header p {
    display: none;
  }

  .avatar {
    width: 170px;
    height: 144px;
    border-radius: 40px;
  }

  .like {
    top: -20px;
    left: 165px;
    margin: 0;
    width: 62px;
    height: 63px;
  }
  .comment-line {
    top: 45px;
    left: 230px;
    width: 62.43px;
    height: 55.9px;
  }

  .chat {
    width: 82px;
    height: 83px;
    top: 75px;
    left: 300px;
  }

  .comment__info p {
    font-size: 16px;
    line-height: 180%;
  }

  .comment__author {
    margin-top: 28px;
    gap: 10px;
  }

  .comment__author h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .comment__author p {
    font-size: 16px;
    line-height: 26px;
  }

  .comment__slider {
    margin-top: 14px;
  }

  .comment__slider div {
    width: 10px;
    height: 10px;
  }

  .right-hand {
    width: 240px;
    height: 110px;
    right: 0;
    top: 190px;
  }

  .store__container {
    width: 80%;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .store__button {
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .store {
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 49px;
    min-height: 431px;
  }

  .store__content h2 {
    font-size: 24px;
    line-height: 140%;
    text-transform: capitalize;
  }

  .store__content span {
    padding: 0 20px 5px 0;
    background: url("./img/min-light-shape.png") 93px 15px no-repeat;
  }

  .store__content p {
    font-size: 16px;
    line-height: 30px;
  }

  footer {
    padding: 85px 0 40px;
  }

  .footer__container {
    width: 80%;
  }

  .footer__content {
    gap: 30px;
    align-items: flex-start;
    flex-direction: column;
  }

  footer hr {
    display: none;
  }

  .footer__nav {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer__nav ul {
    gap: 28px;
  }
  .social {
    gap: 45px;
    flex-direction: row;
    align-items: center;
  }

  .privacy_and_condition {
    font-size: 16px;
    color: #9f9f9f;
    line-height: 24px;
    margin-top: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .condition {
    gap: 24px;
    width: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 465px) {
  .container {
    max-width: 331px;
    padding-left: 3px;
  }

  .header__content span {
    background-size: contain;
    background-position: 0 20px;
  }

  .burger {
    display: flex;
  }

  .vector6 {
    display: block;
  }

  .navigation__menu {
    display: none;
  }

  .header {
    min-height: 589px;
    height: auto;
    overflow: hidden;
  }

  .facts {
    margin-top: 0;
    height: auto;
    padding-top: 48px;
  }

  .fact__list {
    flex-direction: column;
    gap: 48px;
  }

  .big-num {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
  }

  .litlle-num {
    margin-top: 28px;
  }

  .fact__list hr {
    margin: 0;
    width: 180px;
  }

  .header__content {
    flex-wrap: wrap;
    margin-top: 74.76px;
    align-items: flex-start;
  }
  .header__content h1 {
    flex-wrap: wrap;
    text-align: start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    color: #1c0e0d;
    max-width: 295px;
  }

  .header__content p {
    flex-wrap: wrap;
    margin-top: 12px;
    max-width: 307px;
    text-align: start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }

  .header__content button {
    margin-top: 38px;
  }

  .navigation__logo {
    width: 135px;
    height: 30.24px;
    background-size: contain;
  }

  .vector3 {
    top: 110px;
    right: 0;
    width: auto;
    height: 74px;
  }

  .clock {
    width: 65.17px;
    height: 75.85px;
    object-fit: cover;
    top: -41px;
    left: 223px;
  }

  .vector1 {
    display: none;
  }

  .vector8 {
    display: block;
    position: absolute;
    top: 330px;
    left: 260px;
  }

  .vector6 {
    position: absolute;
    top: 506px;
    left: -0;
    object-fit: cover;
  }

  .features-block h2 {
    max-width: 311px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #18063c;
  }

  .features-block__header h2 span {
    background: url("./img/light-shape.png") no-repeat;
  }

  .analytics__content {
    padding-left: 5px;
    background: url("./img/light-shape.png") 0 15px no-repeat;
  }

  .analytics__content header span {
    background: none;
  }

  .features-block__content {
    max-width: 327px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }

  .features-block h2 span {
    padding: 5px;
    background-position: 0 17px;
    background-size: contain;
  }

  .rocket {
    width: 100px;
    height: 92px;
    object-fit: cover;
    top: -98px;
    left: -45px;
  }

  .vector2,
  .vector5,
  .vector4,
  .mobile2,
  .mobile1,
  .vector5,
  .rec,
  .darts,
  .img-list,
  .blue-arrow,
  .pink-arrow,
  .tracker__text,
  .hand,
  .sand-watch,
  .line,
  .emoji,
  .comment-rec,
  .left-hand,
  .mobile,
  .clipboard {
    display: none;
  }

  .features-block {
    overflow: visible;
    margin-top: 0;
    padding: 80px 0 0 0;
    margin-bottom: 60px;
  }

  .card-block {
    margin-top: 28px;
    flex-direction: column;
    gap: 20px;
  }

  .card-item {
    max-width: 343px;
    border-radius: 30px;
  }

  .img-wrapper img {
    width: 33px;
    height: 33px;
  }

  .img-wrapper {
    width: 60px;
    height: 60px;
    padding: 14px;
    border-radius: 15px;
  }

  .card-item__text h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
  }

  .card-item__text p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .analytics {
    width: 100%;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    gap: 49px;
    padding-bottom: 60px;
  }

  .analytics__content {
    max-width: 327pxpx;
    min-width: 0;
    padding-top: 0;
  }

  .big-picture {
    position: relative;
    left: -36px;
    object-fit: cover;
    max-width: 90%;
  }

  .no-back-mobile {
    display: none;
  }

  .analytics__content header h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
  }

  .analytics__content header p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
  }

  .analytics__list {
    gap: 24px;
    margin-top: 36px;
  }

  .analytics__item {
    max-width: 311px;
    gap: 18px;
  }

  .analytics__item img {
    width: 56px;
    height: 56px;
  }

  .item__content .content__haeder {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }

  .item__content .content__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
  }

  .tracker {
    padding-bottom: 48px;
    padding-top: 48px;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  .tracker__container {
    width: 100%;
    gap: 48px;
    max-width: 327px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .tracker__info {
    width: 100%;
  }

  .tracker__info h2 {
    max-width: 252px;
    font-size: 24px;
    line-height: 150%;
  }

  .tracker__info h2 span {
    padding-right: 5px;
    background: url("./img/min-shape-light.png") 5px 14px no-repeat;
  }

  .tracker__text {
    display: none;
  }

  .middle-wrapper {
    justify-content: flex-start;
  }

  .info__item {
    width: 100%;
    max-width: 330px;
  }

  .info__item,
  .info__item.middle {
    gap: 18px;
  }

  .info__item h4 {
    font-size: 18px;
    line-height: 120%;
  }

  .info__item p {
    font-size: 14px;
    line-height: 180%;
  }

  .info__list {
    width: 100%;
    margin-top: 36px;
    gap: 24px;
  }

  .info__list img {
    width: 56px;
    height: 56px;
  }

  .tracker__image-block {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .big-picture {
    display: block;
  }

  .image-block__right-side {
    display: flex;
    align-items: center;
  }

  .tracker__image-block img {
    max-width: 268px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .image-block__left-side :nth-child(1) {
    width: 100%;
    height: auto;
  }

  .image-block__left-side :nth-child(2) {
    display: none;
  }

  .chart {
    position: absolute;
    display: block;
    top: -30px;
    right: 0;
  }

  .price-list {
    padding: 80px 0;
  }

  .price-list h2 {
    box-sizing: border-box;
    font-size: 24px;
    line-height: 150%;
  }

  .price-list h2 span {
    background: url("./img/light-shape.png") 30px 10px no-repeat;
    padding: 0;
  }

  .price__text {
    font-size: 16px;
    line-height: 36px;
    text-align: center;
  }

  .switch-block {
    font-size: 18px;
    line-height: 28px;
  }

  .switch-button {
    width: 55px;
    height: 26.19px;
  }

  .switch-button__item {
    width: 18.33px;
    height: 18.33px;
  }

  .price__info {
    margin-top: 41px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 90%;
  }

  .price__info-item {
    width: 100%;
    max-width: 327px;
    border-radius: 30px;
    padding: 36px 26px;
  }

  .item-wrapper {
    width: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .item-header {
    flex-basis: 66%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
  }

  .price {
    flex-basis: 33%;
  }

  .partners__info h2 span {
    background: url("./img/min-light-shape.png") 62px 20px no-repeat;
  }

  .price__info-item h4 {
    margin: 0;
    font-size: 20px;
    line-height: 100%;
  }

  .price {
    margin-top: 0;
    align-items: center;
    font-size: 28px;
    line-height: 100%;
  }

  .price :nth-child(1) {
    margin-top: 0;
  }

  .item__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    gap: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }

  .text-premium {
    color: #ffddd8;
  }

  .price__info button {
    margin-top: 30px;
    height: 76px;
    width: 100%;
    max-width: 240px;
  }

  .partners {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .partners__container {
    max-width: 327px;
    justify-content: flex-start;
    width: 90%;
  }

  .partners__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }

  .partners__info {
    align-items: flex-start;
  }

  .partners__info h2 {
    text-align: start;
    max-width: 225px;
    font-size: 24px;
    line-height: 140%;
  }

  .partners__info p {
    text-align: start;
    margin-top: 18px;
    font-size: 15px;
    line-height: 180%;
    font-weight: 400;
  }

  .partners__info button {
    margin-top: 28px;
  }

  div.light-gray {
    display: none;
  }

  .partners__list {
    max-width: 335px;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
  }

  .list__img {
    gap: 16px;
    flex-direction: row-reverse;
  }

  .list__img.left-side :nth-child(2n + 1) img {
    width: 64px;
    height: 64px;
  }
  .list__img.left-side :nth-child(2) img {
    width: 64px;
    height: 64px;
  }

  .list__img img {
    width: 72px;
    height: 64px;
    object-fit: contain;
  }

  .rec-figure {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background: rgba(65, 165, 238, 0.1);
  }

  .green,
  .orange,
  .blue {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }

  .comment {
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }

  .comment header span {
    background: url("./img/light-shape.png") 0 15px no-repeat;
  }

  .comment__wrapper {
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .comment__block {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .comment header h2 {
    font-size: 24px;
    line-height: 140%;
  }

  .comment header p {
    display: none;
  }

  .avatar {
    width: 170px;
    height: 144px;
    border-radius: 40px;
  }

  .like {
    top: -20px;
    left: 164px;
    width: 62px;
    height: 63px;
  }
  .comment-line {
    top: 50px;
    left: 210px;
    width: 62.43px;
    height: 55.9px;
  }

  .chat {
    width: 79px;
    height: 81px;
    top: 80px;
    left: 287px;
  }

  .comment__info p {
    font-size: 15px;
    line-height: 180%;
  }

  .comment__author {
    margin-top: 28px;
    gap: 10px;
  }

  .comment__author h4 {
    font-size: 20px;
    line-height: 24px;
  }

  .comment__author p {
    font-size: 16px;
    line-height: 26px;
  }

  .comment__slider {
    margin-top: 14px;
  }

  .comment__slider div {
    width: 10px;
    height: 10px;
  }

  .right-hand {
    width: 150px;
    height: 60px;
    right: -20px;
    top: 230px;
  }

  .store__container {
    width: 100%;
    max-width: 327px;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .store__content span {
    padding: 0 20px 5px 0;
    background-size: contain;
    background: url("./img/min-shape-light.png") 93px 10px no-repeat;
  }

  .store__button {
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .store__content {
    width: 100%;
    min-width: auto;
    max-width: 315px;
  }

  .store {
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 49px;
    min-height: 431px;
  }

  .store__content h2 {
    font-size: 24px;
    line-height: 140%;
  }

  .store__content p {
    font-size: 15px;
    line-height: 30px;
  }

  footer {
    padding: 85px 0 40px;
  }

  .footer__container {
    max-width: 327px;
    width: 100%;
  }

  .footer__content {
    flex-direction: column;
    gap: 46px;
    align-items: flex-start;
  }

  .footer__nav {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 49px;
  }

  footer hr {
    display: none;
  }

  .footer__nav ul {
    flex-direction: column;
    gap: 28px;
  }
  .social {
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }

  .privacy_and_condition {
    font-size: 16px;
    color: #9f9f9f;
    line-height: 24px;
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .condition {
    gap: 24px;
    flex-direction: column;
  }

  .condition {
    min-width: 136px;
  }

  .red-twitter {
    display: block;
  }
  .green-twitter {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .container {
    max-width: 90%;
    flex-wrap: wrap;
  }

  .features__container {
    max-width: 90%;
    flex-wrap: wrap;
  }

  .features-block__header {
    flex-wrap: wrap;
  }

  .features-block h2 {
    max-width: 90%;
  }

  .features-block p {
    flex-wrap: wrap;
  }

  .card-item {
    max-width: 300px;
  }

  .analytics__content {
    max-width: 90%;
  }

  .tracker__container {
    max-width: 90%;
  }

  .price__info-item {
    max-width: 300px;
  }

  .price-list h2 {
    max-width: 90%;
    text-align: center;
  }

  .price__text {
    max-width: 60%;
    text-align: center;
    flex-wrap: wrap;
  }

  .big-picture {
    max-width: 350px;
  }

  .comment__wrapper {
    max-width: 90%;
  }

  .store__container {
    max-width: 90%;
  }

  .right-hand {
    right: -43px;
  }

  .footer__container {
    max-width: 90%;
  }

  .vector1 {
    left: 230px;
  }

  .price-list h2 span {
    background: url("./img/min-shape-light.png") 5px 15px no-repeat;
  }
}
