* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background-color: #fff8f2;
  position: relative;
}

.navigation {
  margin: 40px auto 0;
  max-width: 1170px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  background-image: url("../assets/img/Logo.png");
  height: 40px;
  width: 179px;
}

.navigation nav {
  width: 36%;
}

.navigation ul {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  justify-content: space-between;
  list-style: none;
}

.authorisation {
  display: flex;
}

.authorisation button {
  width: 133px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 34px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.login {
  color: #ff553e;
  background: none;
}

.signup {
  background: #ff553e;
  color: #ffff;
}

.header__content-wrapper {
  margin-left: 1.46%;
  background: url("../assets/img/Objects.png") center center no-repeat;
  height: 1280px;
  display: flex;
  justify-content: center;
}

.header__content {
  margin-top: 220px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.header__content h1 {
  color: #1c0e0d;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
}

.header__content p {
  margin-top: 1.5rem;
  font-family: "Inter";
  width: 75.375%;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.header__content button {
  background: #ff553e;
  border-radius: 40px;
  margin-top: 4.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #ffff;
  border: none;
  padding: 24px 40px;
  font-size: 18px;
  line-height: 28px;
}

.facts {
  box-sizing: border-box;
  background: url("../assets/img/Vector.png") center 0 no-repeat;
  width: 100%;
  padding-top: 94px;
  margin-top: -440px;
}

.fact__list {
  width: 550px;
  margin-left: 455px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.facts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-num {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #18063c;
}

.litlle-num {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #8c8c8c;
}

.rec {
  position: absolute;
  top: 102px;
  left: 85px;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1171px;
}

.features-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 77px;
  margin-top: -2px;
  padding-top: 223px;
  background: #ffffff;
}

.features-block header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.features-block header img {
  position: absolute;
  left: 808px;
  top: -23px;
}

.features-block__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-block h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
  text-align: center;
  text-transform: capitalize;
}

.features-block h2 span {
  background: url("../assets/img/Shape.png") no-repeat;
  background-position: 9px 30px;
}

.features-block__content {
  margin-top: 20px;
  width: 659px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
  text-align: center;
}

.card-block {
  max-width: 1771px;
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.card-item {
  max-width: 369px;
  min-width: 279px;
  background-color: #18063c;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06);
  padding: 28px;
}

.card-item__text {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin-top: 24px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
}

.card-item .img-wrapper {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 14px 20px 48px rgba(25, 15, 44, 0.06);
  border-radius: 24px;
}

.card-item__text p {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #e2f6f8;
  width: 90%;
}

.item1 {
  background: #70d0dc;
}
.item2 {
  background: #7562e0;
}
.item3 {
  background: #fa865f;
}

.analytics {
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  width: 80.36%;
  flex-direction: row;
  gap: 34px;
}

.big-picture {
  width: 61%;
  object-fit: contain;
}

.analytics__content {
  width: 568px;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.analytics__content header h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 68px;
  color: #18063c;
}

.analytics__content header p {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
}

.analytics__content header span {
  background: url("../assets/img/Shape.png") 15px 32px no-repeat;
}

.analytics__list {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.analytics__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.item__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item__content .content__haeder {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #404040;
}

.item__content .content__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #404040;
  opacity: 0.8;
}

.tracker {
  position: relative;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 164px;
  background-color: #f8fefe;
  display: flex;
  justify-content: flex-end;
}

.darts {
  position: absolute;
  right: 0;
  top: -40px;
}

.img-list {
  position: absolute;
  top: 376px;
  left: 0;
}

.tracker__container {
  max-width: 1419px;
  margin-right: 127px;
  margin-left: 222px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
}

.blue-arrow {
  position: absolute;
  top: 50px;
  left: 492px;
}

.pink-arrow {
  position: absolute;
  top: 291px;
  left: -62px;
}

.tracker__info h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.tracker__info p {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.info__list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 73px;
  position: relative;
}

.tracker__info h2 span {
  background: url("./img/Shape.png") 5px 30px no-repeat;
}

.info__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.middle-wrapper {
  display: flex;
  justify-content: end;
}

.info__item.middle {
  max-width: 446px;
  gap: 33px;
}

.info__item.frontier {
  max-width: 464px;
}

.info__list {
  display: flex;
  flex-direction: column;
}

.info__item-content {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.info__item h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
  color: #404040;
}

.info__item p {
  margin-top: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #656666;
}

.tracker__image-block {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  height: auto;
}

.image-block__left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 27px;
}

.image-block__left-side :nth-child(1) {
  width: 267.62px;
  height: 270.96px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.image-block__left-side :nth-child(2) {
  width: 230.82px;
  height: 321.14px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.image-block__right-side img {
  width: 388.05px;
  height: 444.91px;
  box-shadow: 0px 32px 54px 0px #414a550d;
}

.price-list {
  width: 100%;
  padding: 140px 0 160px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hand {
  position: absolute;
  left: 0;
  top: 614px;
}

.price-list h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}

.price-list h2 span {
  padding-right: 20px;
  background: url("./img/Shape.png") 140px 33px no-repeat;
}

.price__text {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.switch-block {
  margin-top: 48px;
  margin-right: 80px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #404040;
}

.switch-button {
  width: 84px;
  height: 40px;
  padding: 6px;
  background: rgba(255, 85, 62, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.switch-button__item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ff553e;
}

.price__info {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.price__info-item {
  position: relative;
  width: 470px;
  height: 608px;
  display: flex;
  flex-direction: column;
  border-radius: 110px;
  align-items: center;
}

.sand-watch {
  position: absolute;
  display: flex;
  top: -100px;
  left: 370px;
  z-index: -1;
}

.line {
  position: absolute;
  display: flex;
  top: 70;
  left: 490px;
  z-index: -2;
}
.price__info-item.free {
  border: 1px solid #ff553e;
}

.price__info-item.premium {
  background: #ff553e;
}

.price__info-item h4 {
  margin-top: 64px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #404040;
}

.item__text {
  margin-top: 56px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 52px;
}

.price {
  margin-top: 60px;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.price__info span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.price__info .free span {
  color: #797979;
}

.price :nth-child(1) {
  margin-top: 4px;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.price :nth-child(2) {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.price__info button {
  margin-top: 64px;
  border: none;
  width: 240px;
  height: 76px;
  border-radius: 40px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.price__info-item.free button {
  background: #ff553e;
  color: #ffffff;
}

.price__info-item.premium button {
  background: #ffffff;
  color: #ff553e;
}

.price__info-item.free p {
  color: #ff553e;
}

.price__info-item.premium h4 {
  color: #ffffff;
}

.price__info-item.premium {
  color: #ffffff;
}

/* @media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
} */
